body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}
#warningMsg{
    font-size: 2em;
    color:#800000;
    text-align: center;
    margin: 50px ;
    font-weight: 200;
    border: 1px solid black;
    padding: 50px;
    background: #fffa;
  }
#book-page {
    display: flex;
}
#cartTitle {
    font-size: 2em;
    color:#800000;
    text-align: center;
    margin: 50px ;
    font-weight: 200;
    border: 1px solid black;
    padding: 20px;
    background: #fffa;
}

#orderTitle {
    font-size: 2em;
    color:#800000;
    text-align: center;
    margin: 50px ;
    font-weight: 200;
    border: 1px solid black;
    padding: 20px;
    background: #fffa;
}

#profilePhoto {
    display: block;
    max-width: 150px;
    max-height: 200px;
}
.btn-outline-light {
    color: #800000;

}

#infoContainer {
    margin-top: 100px;
}

#buttonGroup {
    margin-top: 380px;
}

.page-container {
    margin-top: 50px;
}

#hp1 {
    display:inline-flex;
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 50px;

}
#hp2 {
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 50px;

}

#hp3 {
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 50px;

}
#hp4 {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;

}

#hp5 {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;

}

#hp6 {
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 50px;

}
#hp7 {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;

}
#hp8 {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;

}
